@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  /* border: 2px solid saddlebrown; */
}
:root {
  --black: #131313;
  --orange: #ff900e;
}

header {
  background-color: rgba(255, 144, 14, 0.1);
}

/* nav styles  */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 35px;
}
.nav-title {
  font-size: 45px;
}
.nav-menu {
  display: flex;
  gap: 50px;
}
.nav-menu li {
  list-style: none;
}
.menu {
  text-decoration: none;
  color: #424242;
}
/* banner styles  */
.banner-container {
  margin: 90px 130px;
}
.banner-disc {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
.banner-disc h3 {
  font-size: 64px;
  padding-bottom: 25px;
}
.section-info {
  color: #727272;
  line-height: 26px;
  /* padding-top: 20px; */
  font-weight: 400;
}
.banner-img {
  width: 100%;
}
.btn {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
}

/*-------------------------
 quick list section styles
 -------------------------  */
 .quick-list-container{
  display: flex;
  gap: 60px;
  margin: 140px;
  align-items: center;
 }
 .quick-desc h2{
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 15px;
 }
 .quick-list{
  color: #727272;
}
.feature{
  color: #ff900e;
}
 .quick-imgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 50%;

 }
 .quick-imgs img{
  width: 100%;
 }
.quick-desc{
  width: 50%;
}

/* ---------------------
features section styles
-----------------------  */
.container{
  display: flex;
  margin:130px;
  gap: 40px;
}
.feature-desc{
  width: 50%;
}
.section-heading{
   border-left: 4px solid #ff900e;
  padding-left: 15px;
}
.heading{
  font-size: 35px;
}
.feature-detail{
  padding-top: 20px;
}
.feature-desc p{
  padding-bottom: 20px;
  padding-top: 10px ;
  width: 514px;
  

}
.title{
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.feature-img{
  width: 50%;
}
.feature-img img {
  width: 100%;
}
.fea-btn{
      font-size: 40px;
      margin-top: -40px;
      margin-left: -123px;
}
.fea-btn p{
  font-size: 16px;
  padding-top: 10px;
}

/* ----------------
   activity styles
   ---------------  */
.activity-desc{
  margin-left: 130px;
  width: 542px;
}
.activities{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 55px;
}
.activity{
  border: 2px solid #FF900E;
  padding: 25px 20px;
  width: 180px;
  height: 180px;
  text-align: center;
}
.activity h2{
  color: #424242;
}

/*----------------
 Sponspors styles 
 ------------------- */
 .spprs-desc{
  width: 40%;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 70px;
 }
.Sponspors{
  display: flex;
  justify-content: space-evenly;
  margin:0 100px;
}
.Sponspor-img{
  width: 120px;
}
/*============
   media query
 =============  */
@media screen and (max-width: 576px) {
  nav {
    align-items: flex-start;
    padding-left: 15px;
    gap: 20px;
  }
  nav,
  .nav-menu {
    flex-direction: column;
  }
  .banner-container {
    margin: 0;
  }
  .banner-disc {
    width: 90%;
  }
  .banner-disc h3 {
    font-size: 50px;
  }
  /* quick list  */
  .quick-list-container{
    flex-direction: column;
    width: 100vw;
    margin: 60px 0;
  }
  .quick-imgs{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .quick-desc{
    width: 90%;
  }
  /* feature styles  */
}
